body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header {
  color: #555;
  background-color: #f7f7f7;
  padding: 2em; }

.header__text {
  font-size: 2em;
  font-weight: bold; }

.header__text_sm {
  font-size: 1.2em;
  line-height: 2.3; }

.matrix {
  display: grid;
  grid-template-columns: 1fr [square] 800px 1fr;
  background-color: #fff;
  padding: 2.5em; }

.matrix__square {
  cursor: pointer;
  display: grid;
  grid-column: square;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.quadrant {
  cursor: pointer;
  height: 400px;
  max-width: 400px;
  transition: all 0.8s ease; }
  .quadrant span {
    font-size: 5.6em;
    font-family: fantasy;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: #fff;
    opacity: 0.3;
    display: flex;
    padding: 80px 0; }

.quadrant:hover {
  transform: scaleX(-1);
  transition: all 1s ease;
  background-color: darker(20%); }
  .quadrant:hover span {
    display: none; }

.quadrant:focus span, .quadrant:active span {
  display: none; }

.quadrant_1k {
  background-color: #4cbf73; }
  .quadrant_1k input {
    background-color: #bfe0ca; }

.quadrant_2k {
  background-color: #68a9ca; }
  .quadrant_2k input {
    background-color: #d7e4ec; }

.quadrant_3k {
  background-color: #d84557; }
  .quadrant_3k input {
    background-color: #e0baba; }

.quadrant_4k {
  background-color: #ebff6f; }
  .quadrant_4k span {
    color: #000; }
  .quadrant_4k .quadrant__forms-explain {
    color: #777; }
  .quadrant_4k input {
    background-color: #f5f3e7; }

.quadrant__forms {
  display: none;
  padding: 30px 10px;
  text-align: center; }
  .quadrant__forms input {
    border: 1px solid rgba(221, 221, 221, 0.32);
    width: 80%;
    height: 28px;
    border-radius: 3px;
    margin: 10px 0;
    transform: scaleX(-1);
    padding: 5px;
    font-size: 20px;
    transition: all 0.5s ease; }

.quadrant:hover .quadrant__forms {
  display: block; }

.quadrant__forms-explain {
  transform: scaleX(-1);
  font-size: 23px;
  font-family: fantasy;
  color: #edf9f1;
  margin-bottom: 15px; }
